<form name="form" class="form_main" #addForm="ngForm" (ngSubmit)="addForm.form.valid && saveAddress()"
    [formGroup]="addressForm">
    <!-- Address 1 -->
    <div class="form-group">
        <input matInput placeholder="Address 1" formControlName="address1" required>
        <span *ngIf="addressForm.get('address1').hasError('required')">
            *Required field
        </span>
    </div>

    <!-- Address 2 -->
    <div class="form-group">
        <input matInput placeholder="Address 2" formControlName="address2">
    </div>

    <!-- Address 3 -->
    <div class="form-group">
        <input matInput placeholder="Address 3" formControlName="address3">
    </div>

    <!-- Country -->
    <div class="form-group">
        <input matInput placeholder="Country" formControlName="country" required>
        <span *ngIf="addressForm.get('country').hasError('required')">
            *Required field
        </span>
    </div>

    <!-- State -->
    <div class="form-group">
        <input matInput placeholder="State" formControlName="state">
    </div>

    <!-- City -->
    <div class="form-group">
        <input matInput placeholder="City" formControlName="city" required>
        <span *ngIf="addressForm.get('city').hasError('required')">
            *Required field
        </span>
    </div>
</form>