<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-md-6 left-col">
            <div class="col-lg-8 col-md-12 col-sm-9 col-xs-12 form-box text-center">
                <div class="forget-password-form d-block">
                    <form [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmit($event)">
                        <div class="mb-4 title">
                            <h2>Reset Your Password</h2>
                        </div>
                        <div>
                            <p class="mb-3">
                                Please enter your email address and we will
                                send you a password reset link!
                            </p>
                        </div>
                        <div class="form-input" 
                            [ngClass]="{'has-error': emailValidation}">
                            <i class="fa fa-at fa-2x"></i>
                            <input type="text" formControlName="email" placeholder="Email" class="input-field"><br />
                            <span class="error-message" *ngIf="emailValidation">Invalid Email</span>
                        </div>
                        <button [disabled]="forgetPasswordForm.invalid" class="submit-btn" type="submit">Send Link &nbsp;<i
                                class="fa fa-paper-plane"></i></button> <br/>
                        <a routerLink="/login" class="login-btn" *ngIf="!resetConfirmationStatus">Back to Login</a>
                    </form>
                </div>
            <hr>
                <div class="reset-confirmation" *ngIf="resetConfirmationStatus">
                    <div class="mb-4">
                        <h5>Link was sent</h5>
                        <h6>Please, check your inbox at {{inputEmailAddress}}</h6>
                        <div class="mt-4">
                            <a routerLink="/login" class="login-btn">Login Now</a>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 right-col"></div>
    </div>
</div>